PyAutoGUI
MouseInfo
opencv-contrib-python
opencv-python
opencv-python-headless
Pillow
numpy
pycodestyle
PyGetWindow
PyMsgBox
PyQt6
PyQt6-Qt6
PyQt6-sip
PyRect
PyScreeze
PySide6
PySide6-Addons
PySide6-Essentials
PyRect
PyScreeze
qimage2ndarray
mediapipe
